@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Rampart+One&display=swap');;
/*CSS Reset*/ 
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

/* Navegador*/
header{
    width: 100%;
    height:60vh;
    background-image:url(img/POLIDEPORTIVO-TOLEDO.jpeg) ;
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
}

nav{
    height: 100px;
    max-width: 1200px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width:30px ;
    margin: 20px;;
}
.bar-btn{
    font-size: 25px;
    color: blue;
    margin-right: 20px;
    cursor: pointer;
}
.nav-menu{
    position: fixed;
    width: 100%;
    height:100vh ;
    top: 80px;
    background:rgba(30, 40, 60, 0.95) ;
    text-align: center;
    transition: all 0.5s;
}
.nav-menu li{
    display: block;
    line-height: 30px;
    margin: 50px 0;
    transition: all 0.5s;
}
.nav-menu li a {
    color:rgb(10, 2, 46);
    font-size: 80px;
    text-transform:unset;
    font-weight: 600;
    padding: 7px 20px;

}
.nav-menu li a.active{
    color:white;
    transition: 0.5s;
    
}

.nav-menu li a:hover{
    color:white;
    transition: 0.5s;
    background-color:rgba(30, 40, 60, 0.95);
}

#check{
    display:block;
}
#check:checked ~ .nav-menu{
    height: 100vp;
}
#check:checked ~ .nav-menu{
   display: block;
   left:0;

}
.banner-text{
    padding-top: 5px;
    text-align: center;
}

.banner-text h1{
    color:rgba(239, 46, 46, 0.95);
    font-style: 40px;
    text-transform: uppercase;
    font-family: 'Rampart One', sans-serif;
}
.banner-text h3{
    color:rgb(10, 2, 46);
    font-style: 30px;
    background: rgba(186, 188, 193, 0.95);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.banner-text p{
    color:black;
    font-size: 18px;
    padding: 20px;

}

.logo{
    margin-left: 0;
    
}

header{
    height: 80vp;
}
nav{
    height: 100px;
    margin:0 auto;

}
.bar-btn{
    display: none;

}
.nav-menu{
    position: relative;
    height: 80px;
    top: 0;
    background:rgb(155, 204, 239);
    transition: all 0.5;
    text-align: center;
    margin: 50px;
}
.nav-menu li{
    display: inline-block;
    line-height: 100px;
    margin: 0 20px;
    transition: all 0.5;
}

.nav-menu li a {
    font-size: 18px;
    padding: 7px 20px
}

.nav-menu li a.active{
    color:rgba(30, 40, 60, 0.95);
    transition: 0.5s;
}

.nav-menu li a:hover{
    color:white;
    transition: 0.5s;
    background-color: rgba(30, 40, 60, 0.95);
}
.container{
    max-width: 1200px;
    margin: 0 auto;

}
.banner-text{
    padding-top: 200px;
}
.banner-text h1{
    font-size: 55px;
    font-family: 'Rampart One', sans-serif;
}
.banner-text h3{
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.banner-text p{
    padding: 10 px 150px ;
}

.slider{
    width: 100%;
    margin: 10;
    overflow:hidden;
    animation: automatico 3s infinite alternate linear;
    margin-left: 100px;
    margin-right: 100px;
}
.slider ul{
    display: flex;
    padding: 0;
    width: 55%;
    

}
.slider li{
    width: 30%;
    list-style:none;
}
.slider img{
 width: 300px;
 height: 200px;
}

@media (min-width: 300px){
    .slider img {
        height: 200px;
    }
}

@keyframes automatico{
    0%{margin-left: 0;};
    20%{margin-left: 0;};

    25%{margin-left: 100;};
    45%{margin-left: 100;};

    50%{margin-left: 200;};
    70%{margin-left: 200;};

    75%{margin-left: 300;};
    100%{margin-left: 300 ;};
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 0 15px;
    background:rgb(94, 170, 225);
    border-top: 1px solid black;
  }